//colors
$primary-color: rgba(250, 86, 82, 1);
$secondary-color :rgba(3, 87, 85, 1);
$word-navbutton: rgba(255, 56, 61, 1);
$primary-button: rgba(251, 76, 71, 1);
$text-color: rgba(75, 79, 81, 1);
$footer-header: #0C6C44;
$Email-footer: rgba(117, 134, 129, 1);
$send-button: rgba(244, 74, 69, 1);
$footer-list: rgba(0, 64, 46, 1);
$white: #fff;
$black: #000;
$copyright: rgba(65, 94, 86, 1);