//fonts
@font-face {
    font-family: GelionRegular;
    src: url(../../fonts/GelionRegular.ttf);
}

@font-face {
    font-family: GelionBold;
    src: url(../../fonts/GelionBold.ttf);
}

@font-face {
    font-family: GelionMedium;
    src: url(../../fonts/GelionMedium.ttf);
}

@font-face {
    font-family: GelionSemiBold;
    src: url(../../fonts/GelionSemiBold.ttf);
}

@font-face {
    font-family: RedHatDisplay-Regular;
    src: url(../../fonts/RedHatDisplay-Regular.ttf);
}

@font-face {
    font-family: RedHatDisplay-Bold;
    src: url(../../fonts/RedHatDisplay-Bold.ttf);
}

@font-face {
    font-family: RedHatDisplay-Medium;
    src: url(../../fonts/RedHatDisplay-Medium.ttf);
}

@font-face {
    font-family: RedHatDisplay-SemiBold;
    src: url(../../fonts/RedHatDisplay-SemiBold.ttf);
}