//paddings
$padding-8: 0.5rem;
$padding-12: .75rem;
$padding-16: 1rem;
$padding-20: 1.25rem;
$padding-24: 1.5rem;
$padding-30: 1.85rem;
$padding-32: 2rem;
$padding-34: 2.125rem;
$padding-40: 2.5rem;
$padding-50: 3.125rem;
$padding-64: 4rem;
$padding-96: 6rem;
//margin
$margin-8: 0.5rem;
$margin-12: .75rem;
$margin-16: 1rem;
$margin-20: 1.25rem;
$margin-24: 1.5rem;
$margin-30: 1.85rem;
$margin-32: 2rem;
$margin-40: 2.5rem;
$margin-50: 3.125rem;
$margin-64: 4rem;
//radius
$radius-4: 0.25rem;
$radius-8: 0.5rem;
$radius-12: .75rem;
$radius-16: 1rem;
$radius-20: 1.25rem;
$radius-46: 2.875rem;
$radius-64: 4rem;
$radius-157: 9.8125rem;
$radius-50: 50%;
//font-size
$font-2: 0.125rem;
$font-10: 0.625rem;
$font-12: .75rem;
$font-14: 0.875rem;
$font-15: 0.95rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-28: 1.75rem;
$font-32: 2rem;
$font-40: 2.5rem;
$font-41: 2.6rem;
$font-52: 3.25rem;
$font-64: 4rem;